#songs{
    align-content: center;
}
td {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#enterName{
    border-radius: 100px;
    margin-top: 5% ;
    margin-left: 8% ;
    margin-right: 5% ;

    align-content: center;
    height:35px;
    width: 200px;
    font-size: 25px;
    font-style: italic;
    border: 1px solid lightgrey;
}

#title{
    font-style: italic;
    margin-top: 5%;
    font-size: 45px;
    text-align: center;
}
#button{
    border: 1px solid lightgrey;
    border-radius: 100px;
    margin-right: 5% ;
    height:40px;
    width: 200px;
    font-size: 25px;
    font-style: italic;
}
#infoButton{
    border: 1px solid lightgrey;
    border-radius: 100px;

}
#numberOfResults{
    margin-right: 5% ;
    align-content: center;
    height:40px;
    width: 200px;
    font-size: 25px;
    font-style: italic;
}
body{
    background-color: darkorange;
}
#searchboxarea{
    align-items: center;
    border-bottom-color: black;
}